<%= render 'cars/links_car' %>
<br/><br/>
<h1>Car Types</h1>

<table class="table table-striped table-dark">
        <thead class = "bg-info">
            <tr>
            <th>Name</th>
            <th>Fuel</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <% @car_types.each do |car_type| %>
                <tr>
                    <td><%= car_type.name %></td>
                    <td><%=  car_type.fuel%></td>
                    <td> <%= link_to edit_car_type_path(car_type) do  %>
                        <%= '<i class="fa fa-pencil-square-o text-light" aria-hidden="true"></i>'.html_safe %>
                        <% end %> 
                    </td>
                    <td> <%= link_to car_type, method: :delete, data: { confirm: 'Are you sure?' } do  %>
                        <%= '<i class="fa fa-trash text-light" aria-hidden="true"></i>'.html_safe %>
                        <% end %> 
                    </td>   
                </tr>
            <% end %>
        </tbody>
    </table>
