<h1>Details Of Booking..!!</h1>

<div class="booking border border-dark"><br/>
    <h2>
        <b>From</b> Date & Time: 
        <%= @booking.from %><br/><br/>
        
        <b>To</b> Date & Time: 
        <%= @booking.to %><br/><br/>

        <b>Booking Status:</b> 
        <%= @booking.status%><br/><br/>
        
        <b>Driver Taken:</b>
        <%= @booking.want_driver.humanize %><br/><br/>
        
        <b>Fuel Type Of Car:</b>
        <%= @booking.fuel %><br/><br/>
        
        <b>Drop Car At Different Location:</b>
        <%= @booking.diff_city.humanize %><br/><br/>
    </h2>


    <a class="btn btn-primary" data-toggle="collapse" href="#collapseCar" role="button" aria-expanded="false" aria-controls="collapseExample">
        Show Car Details
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse" id="collapseCar"><br/>
        <div class="card card-body">
            <h4><b>Car Details</b></h4>
                <p>
                    <strong>Car Name:</strong>
                    <%= @booking.car.name %> 
                </p>

                <p>
                    <strong>Number Of Seats:</strong>
                    <%= @booking.car.seats %>
                </p>

                <p>
                    <strong>Luggage Capacity:</strong>
                    <%= @booking.car.luggage %> Liters
                </p>

                <p>
                    <strong>Minimum Kilometers Per Day:</strong>
                    <%= @booking.car.min_kms %>
                </p>

                <p>
                    <strong>Cost Per Kilometer:</strong>
                    <%= @booking.car.cost_per_km %>
                </p>

                <p>
                    <strong>Model Number:</strong>
                    <%= @booking.car.model %>
                </p>
        </div><br/>
    </div>
    
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseAddress" role="button" aria-expanded="false" aria-controls="collapseExample">
        Show Address Details
    </a><br/>
    <div class="collapse" id="collapseAddress"><br/>
        <div class="card card-body">
            <h4><b>Address Details</b></h4><br/>
            <table class="table table-striped table-dark">
                <thead class = "bg-info">
                    <tr>
                    <th>Location</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Type</th>
                </thead>

                <tbody>
                    <% @address.each do |add| %>
                        <tr>
                            <td><%= add.location %></td>
                            <td><%=  add.city%></td>
                            <td><%= CS.states(:in)[add.state.to_sym]  %></td>
                            <td><%= add.zip %></td>
                            <td> <%= add.addr_type %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div><br/>
    </div>
    <br/>
<% if @booking.want_driver == true &&  (@booking.status== "Booked" || @booking.status== "Completed")  %>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseDriver" role="button" aria-expanded="false" aria-controls="collapseExample">Show Driver Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse" id="collapseDriver"><br/>
    <div class="card card-body">
    <h4><b>Driver Details</b></h4>
      <p>
        <strong>Name:</strong>
        <%= @booking.driver.user.fname %> <%= @booking.driver.user.lname %> 
      </p>
      <p>
        <strong>Contact Number:</strong>
        <%= @booking.driver.user.contact %>
      </p>

      <p>
        <strong>Email Id:</strong>
        <%= @booking.driver.user.email %> 
      </p>
      <p>
        <strong>Gender:</strong>
        <%= @booking.driver.user.gender %> 
      </p>
      <p>
        <strong>Experience:</strong>
        <%= @booking.driver.experience %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= image_tag(@driver.driver_image, style:"width:20%") if @driver.driver_image.attached?%>
      </p>
    </div><br/>
  </div>
<%end%>


<% if @bill != nil && @booking.status== "Completed"%>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseBill" role="button" aria-expanded="false" aria-controls="collapseExample">Show Bill Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse" id="collapseBill"><br/>
    <div class="card card-body">
    <h4><b>Bill Details</b></h4>
      <p>
        <strong>Total Kilometers Travelled:</strong>
        <%= @bill.total_kms %>  
      </p>
      <p>
        <strong>Actual Kilometers:</strong>
        <%= @bill.actual_km %>
      </p>
      <p>
        <strong>Driver Amount:</strong>
        &#8377;&nbsp;<%= @bill.driver_amt != nil ? @bill.driver_amt : '0'  %> 
      </p>
      <p>
        <strong>Toll Tax:</strong>
        &#8377;&nbsp;<%= @bill.toll_tax %> 
      </p>
      <p>
        <strong>Tax (5%):</strong>
        &#8377;&nbsp;<%= @bill.tax %> 
      </p>
      <p>
        <strong>Amount:</strong>
        &#8377;&nbsp;<%= @bill.amount %>
      </p>

      <p>
        <strong>Total:</strong>
        &#8377;&nbsp;<%= @bill.total %>
      </p>
      <%= link_to 'Download PDF', bill_pdf_bills_path(@bill), target: :_blank %>
    </div><br/>
  </div>
<%end%>
<br/>
</div>