<h1>Search For Car</h1>

<%= form_with model: @booking, url: "/bookings/show",local: true,method: :get do |form|%>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="field">
    <%= form.label :from %><br/>
    <%= form.label :date %>
    <%= form.text_field :from_date,required: true, :class => 'startDate' %><br/>
    <%= form.label :time %>
    <%= form.time_field :from_time,required: true %><br/><br/>
  </div>

  <div class="field">
    <%= form.label :to %><br/>
    <%= form.label :date %>
    <%= form.text_field :to_date,required: true, :class => 'endDate' %><br/>
    <%= form.label :time %>
    <%= form.time_field :to_time,required: true %><br/><br/>
  </div>

  <div class="field">
    <%= form.label :car_type %>
    <%= form.collection_select :car_type_name, get_car,:id,:name, {},{class: "btn btn-info dropdown-toggle"} %><br/><br/>
  </div>

  <div class="field">
    <%= form.label :fuel_type %>
    <%= form.collection_select :car_fuel_name, get_car_fuel,:id,:name, {},{class: "btn btn-info dropdown-toggle"} %><br/><br/>
  </div>

  <div class="field">
    <%= form.label :want_driver %>
    <%= form.check_box :want_driver,{},"true","false" %><br/><br/>
  </div>

  <div class="field">
    <%= form.label :drop_car_at_different_location %>
    <%= form.check_box :diff_loc,{},"true","false" %><br/><br/>
  </div>



  <div class="actions">
    <%= form.submit "Search For Cars", {class: "btn btn-primary mb-2"} %>
  </div>
<% end %>
