<h1>Driver Confirmation</h1>

<h1>Your Booking For Car & Driver Has Been Confirmed</h1>

<p>
  <h2>From: <%= @booking.from.strftime("%a, %d-%b-%Y:  %I:%M %p") %></h2>
  <h2>To: <%= @booking.to.strftime("%a, %d-%b-%Y:  %I:%M %p") %></h2>
  <h2>Want Driver: <%= @booking.want_driver.humanize %></h2>
  <h2>Fuel Type: <%= @booking.fuel %></h2>
  <h2>Car Name: <%= @booking.car.name %></h2>
  <h2>Car Number: <%= @booking.car.model %></h2>
  <h2>Driver Name: <%= @booking.driver.user.fname %></h2>
  <h2>Driver Email: <%= @booking.driver.user.email %></h2>
  <h2>Driver Contact: <%= @booking.driver.user.contact %></h2>
  <h2>Driver Experience: <%= @booking.driver.experience %> years</h2>

  For More Details Please Log Into Your Account

  <%= link_to 'Car Rental', root_url %>
</p>