<%= form_with model: @address, local: true do |form| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %><br/>
    <%= form.text_area :location, required: true %>
  </div>

  <div class="field">
        <!-- State -->
        <%= form.label :state %>
        <%= form.select :state, options_for_select(CS.states(:in).map { |c| [c[1], c[0]] },@address.state ),{:include_blank => 'Select State'} %>
  </div>
  <div class="field">
        <!-- City -->
        <%= form.label :city %>
        <%= form.select :city, options_for_select(CS.cities(@address.state), @address.city) ,{:include_blank => 'Select State First'},{:disabled => true} %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.number_field :zip, required: true %>
  </div>
  
  
  <% if !@booking.empty? %>  
    <div class="hidden-booking">
      <%= form.hidden_field :from_date, :value => @booking[:from_date] %>
      <%= form.hidden_field :from_time, :value => @booking[:from_time] %>
      <%= form.hidden_field :to_date, :value => @booking[:to_date] %>
      <%= form.hidden_field :to_time, :value => @booking[:to_time] %>
      <%= form.hidden_field :fuel_type, :value => @booking[:fuel_type] %>
      <%= form.hidden_field :fuel_name, :value => @booking[:fuel_name] %>
      <%= form.hidden_field :want_driver, :value => @booking[:want_driver] %>
      <%= form.hidden_field :diff_loc, :value => @booking[:diff_loc] %>
      <%= form.hidden_field :id, :value => @booking[:id] %>
    </div>
  <% end %>
  
  
  <div class="actions">
    <%= form.submit "Create New Address", {class: "btn btn-primary mb-2"}  %>
  </div>
<% end %>
